<div class="container">
  <h1>Request Trade</h1>
  <form > <!-- #requestForm="ngForm"> -->
    <div class="form-group">
        <label for="ticker">ticker</label>
            <input [formControl] = "ticker">
        <label for="quantity">quantity</label> 
            <input [formControl] = "quantity">
        <label for="price">price</label> 
            <input [formControl] = "price">


        Ticker = {{ticker.value}}
        Quantity = {{quantity.value}}
        Price = {{price.value}}
       
    </div>
    <button (click) = "onSubmit()" type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
