
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div> 
  <app-request-form></app-request-form>
  <app-trade-list></app-trade-list>
</div>

<router-outlet></router-outlet>