/* Style buttons */
body, html {height: 100%}

.button{
    background-color: #4CAF50;
    border: none;
    color: white; /*white text*/
    padding: 10px 13px;
    font-size: 14px;
}
.bodybg-color{
    background-color: darkslategrey;
}
