

<h2>Trade List</h2>

<div style="width: 80%">
  <table id="dtBasicExample" class="customTable table table-striped table-bordered table-sm table-hover" cellspacing="0" width="50%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Trade</th>
        <th scope="col">Date Created</th>
        <th scope="col">Status</th>
        <th scope="col">Quantity</th>
         <th scope="col">Price</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trade of trades">
      <th scope="row">{{trade.ticker}}</th>
      <td>{{trade.dateCreated}}</td>
      <td>{{trade.status}}</td>
      <td>{{trade.quantity}}</td>
       <td>{{trade.requestedPrice}}</td>
    </tr>
  </tbody>
  </table>
  <table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="Trade">Trade</th>
    <th mat-sort-header="Date Created">Date Created</th>
    <th mat-sort-header="Status">Status</th>
    <th mat-sort-header="Quantity">Quantity</th>
    <th mat-sort-header="Price">Price</th>
  </tr>
  <tr *ngFor="let trade of trades">
      <th scope="row">{{trade.ticker}}</th>
      <td>{{trade.dateCreated}}</td>
      <td>{{trade.status}}</td>
      <td>{{trade.quantity}}</td>
       <td>{{trade.requestedPrice}}</td>
    </tr>

 
</table>
</div>